<br>
<br>
<br>
<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class="row">
      <div class="col-3">
        <input type="text" class="form-control" id="filterInput" placeholder="Type to filter" placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='games && games.length'>
        <thead>
        <tr>
          <th>
            <button class='btn btn-primary'
                    (click)='toggleImage()'>
              {{showTypeTour ? 'Hide&nbsp;' : 'Show'}} Type of tour
            </button>
          </th>
          <th>Tour Name</th>
          <th>Period & Tour Code</th>
          <th>Date</th>
          <th>Cost</th>
          <th>5 Thumb Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let game of games | filter : searchedKeyword'>
          <td>
            <img *ngIf='showTypeTour'
                 [src]='game.imageUrl'
                 [title]='game.gameName'
                 [style.width.px]='imageWidth'
                 [style.margin.px]='imageMargin'>
          </td>
          <td>{{ game.gameName | uppercase}}</td>
          <td>{{ game.gameCode | lowercase | myTitle:game.gameCode }}</td>
          <td>{{ game.releaseDate|  date }}</td>
          <td>{{ game.price | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ game.thumbRating | percent }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted text-right">
    <small>Powered by Angular</small>
  </div>

</div>
