.forms input{
  background-color: #424242 !important;
  border-color: #424242!important;;
  border-radius: 5px!important;;
  height: 40px!important;;
  width: 360px!important;;
  margin-left: 20px!important;;
}

