#bake{
  background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
}
.btn{
  background-color: #5d4267;
  color: white;
}
#qwe{
  height: 100%;
}
.card-columns{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}
.card{
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
@import "http://nyplintranet-training.appspot.com/css/themes/nypl/main.css";
/* equal card height */
.row-equal > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-equal .card {
  width: 100%;
}

