<br>
<br>
<br>
<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/2589010/pexels-photo-2589010.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Altyn_Emel</h5>
      <p class="card-text">The Big Bang Theory had been a hit since it first came onto the airwaves in 2007, earning blockbuster ratings, seven Emmy awards, and its own spin-off, Young Sheldon.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>The Big Bang Theory promises exciting ends and new beginnings in hour-long two-part series finale</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <cite title="Source Title">Daily Mail</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/2915997/pexels-photo-2915997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">Ile Alatau</h5>
      <p class="card-text">The Good Doctor is an American medical drama television series based on the 2013 award-winning South Korean series of the same name.</p>
      <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3" style="background-color: #424242 !important;">
    <blockquote class="blockquote mb-0">
      <p>The new drama, which stars Freddie Highmore as a surgeon with autism and savant syndrome, has engaged millions of viewers but critics remain skeptical.</p>
      <footer class="blockquote-footer text-white">
        <small>
          <cite title="Source Title">The Guardian</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Saryozek</h5>
      <p class="card-text">Ahead of the series finale, a science writer who has toured the site of the 1986 nuclear disaster weighs in.</p>
      <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/1888403/pexels-photo-1888403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">

  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Plenty of Fantasy in HBO’s ‘Chernobyl,’ but the Truth Is Real</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <cite title="Source Title">The New York Times</cite>
        </small>
      </footer>
    </blockquote>
  </div>
</div>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
      class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>

  </ol>
  <!--/.Indicators-->

  <!------------------------------------------------------Slides------------------------------------------------------->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <div class="col-md-3" style="float: left;">
        <div class="card mb-2" >
          <div class="view overlay">
            <img class="card-img-top" src="https://images.pexels.com/photos/691637/pexels-photo-691637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body p-3">
            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Tour to Kokzhailau</h5>
            <ul class="list-unstyled list-inline my-2">
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>

            </ul>
            <p class="chili-pepper-text mb-0">11,99 $</p>
            <a class="btn">Watchlist</a>
          </div>
        </div>
      </div>


      <div class="col-md-3" style="float: left;">
        <div class="card mb-2" >
          <div class="view overlay">
            <img class="card-img-top" src="https://images.pexels.com/photos/3769138/pexels-photo-3769138.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body p-3">
            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Tour to Kumbel</h5>
            <ul class="list-unstyled list-inline my-2">
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>

            </ul>
            <p class="chili-pepper-text mb-0">10,99 $</p>
            <a class="btn">Watchlist</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float: left;">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://images.pexels.com/photos/3769118/pexels-photo-3769118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body p-3">
            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Tour to Sharyn</h5>
            <ul class="list-unstyled list-inline my-2">
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>

            </ul>
            <p class="chili-pepper-text mb-0">8,99 $</p>
            <a class="btn">Watchlist</a>
          </div>
        </div>
      </div>


      <div class="col-md-3" style="float: left;">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://images.pexels.com/photos/4127642/pexels-photo-4127642.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body p-3">
            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Tour to Kolsai</h5>
            <ul class="list-unstyled list-inline my-2">
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>


            </ul>
            <p class="chili-pepper-text mb-0">15,99 $</p>
            <a class="btn">Watchlist</a>
          </div>
        </div>
      </div>

    </div>
    <!----------------------------------------------------slide------------------------------------------------------>
    <div class="carousel-item" style="">

      <div class="col-md-3" style="float: left;">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://images.pexels.com/photos/4127637/pexels-photo-4127637.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body p-3">
            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Tour to Kayndy</h5>
            <ul class="list-unstyled list-inline my-2">
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>

            </ul>
            <p class="chili-pepper-text mb-0">12,99 $</p>
            <a class="btn">Watchlist</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float: left;">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://images.pexels.com/photos/3769120/pexels-photo-3769120.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body p-3">
            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Tour to Shymbulak</h5>
            <ul class="list-unstyled list-inline my-2">
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>


            </ul>
            <p class="chili-pepper-text mb-0">16,99 $</p>
            <a class="btn">Watchlist</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float: left;">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://images.pexels.com/photos/220147/pexels-photo-220147.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body p-3">
            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Tour to Esik</h5>

            <ul class="list-unstyled list-inline my-2">
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
            </ul>
            <p class="chili-pepper-text mb-0">19,99 $</p>
            <a class="btn">Watchlist</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float: left;">
        <div class="card mb-2">
          <div class="view overlay">
            <img class="card-img-top" src="https://images.pexels.com/photos/417059/pexels-photo-417059.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body p-3">
            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Tour to Aigaikum</h5>
            <ul class="list-unstyled list-inline my-2">
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
              <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>

            </ul>
            <p class="chili-pepper-text mb-0">19,99 $</p>
            <a class="btn">Watchlist</a>
          </div>
        </div>
      </div>

    </div>
    <!--/.Second slide-->
  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div class="card m-3">
    <h5 class="card-header">Buying tickets for events</h5>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group">
          <label>Number of Tickets</label>
          <select formControlName="numberOfTickets" class="form-control" (change)="ngOnChanges($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }">
            <option value=""></option>
            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
          </select>
          <div *ngIf="submitted && f.numberOfTickets.errors" class="invalid-feedback">
            <div *ngIf="f.numberOfTickets.errors.required">Number of tickets is required</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
      <div class="list-group-item">
        <h5 class="card-title">Ticket {{i + 1}}</h5>
        <div [formGroup]="ticket" class="form-row">
          <div class="form-group col-6">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && ticket.controls.name.errors }" />
            <div *ngIf="submitted && ticket.controls.name.errors" class="invalid-feedback">
              <div *ngIf="ticket.controls.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && ticket.controls.email.errors }" />
            <div *ngIf="submitted && ticket.controls.email.errors" class="invalid-feedback">
              <div *ngIf="ticket.controls.email.errors.required">Email is required</div>
              <div *ngIf="ticket.controls.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-primary mr-1" id="bake">Buy Tickets</button>
      <button class="btn" type="reset" (click)="ngOnDestroy()">Reset</button>
      <button class="btn" type="button" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
