.product{
    margin-top: 1rem;
    .card{
        img{
            height: 25rem;
            padding: 1rem;
        }
        .card-body{
            .product-desc{
                overflow: hidden;
            //   text-overflow:ellipsis;
            }
            .card-title{
                width: 12rem;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow:ellipsis;
            }
        }
    }
}
