
.intro-2{
  background: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg")no-repeat center center;
  background-size: cover;
}
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #10d3c9 !important;
}
.regis{
  padding: 30px !important;
  width: 460px !important;
  background:rgba(13,13,13,0.65);
  height: 550px;
  color: white !important;
  border-radius: 8px;
  margin-left: 340px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #10d3c9 !important;
  }
}
html, body, header,
.view {
  height: 100%;
}
.card-columns{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}
.card{
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
@import "http://nyplintranet-training.appspot.com/css/themes/nypl/main.css";
/* equal card height */
.row-equal > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-equal .card {
  width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
  display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
  opacity: 0.5;
  display: flex;
}

/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow:hidden;
}
.navbar {
  background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
}
.navbar:not(.top-nav-collapse) {
  background: transparent;
}
.navbar .navbar-brand img {
  height: 40px;
  margin: 10px;
}
.hm-gradient {
  background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
}
.heading {
  margin: 0 6rem;
  font-weight: 700;
  color: #5d4267;
}
.subheading {
  margin: 2.5rem 6rem;
  color: #bcb2c0;
}
.btn.btn-margin {
  margin-left: 6rem;
  margin-top: 3rem;
}
.btn.btn-lily {
  background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
}
.title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #5d4267;
}
.subtitle {
  color: #bcb2c0;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 6rem;
}
.btn{
  background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
}
