<br>
<br>
<br>

<div class="container">
<div class="row my-4">
  <div class="col-md-4">
    <!-- Card Wider -->
    <div class="card card-cascade wider">

      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">

        <!-- Title -->
        <h4 class="card-title"><strong>Abzal Aitmoldanov</strong></h4>
        <!-- Subtitle -->
        <h5 class="blue-text pb-2"><strong>Founder</strong></h5>
        <!-- Text -->
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam. </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

      </div>

    </div>
    <!-- Card Wider -->
  </div>
  <div class="col-md-4">
    <!-- Card Narrower -->
    <div class="card card-cascade narrower">

      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://images.pexels.com/photos/2102415/pexels-photo-2102415.jpeg?cs=srgb&dl=pexels-djordje-petrovic-2102415.jpg&fm=jpg"
             alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">

        <!-- Title -->
        <h4 class="card-title"><strong>Askar Baikenzhe</strong></h4>
        <!-- Subtitle -->
        <h5 class="blue-text pb-2"><strong>Co-Founder</strong></h5>
        <!-- Text -->
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam. </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

      </div>

    </div>
    <!-- Card Narrower -->

  </div>
  <div class="col-md-4">
    <!-- Card Regular -->
    <div class="card card-cascade">

      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>Ilyas Askar</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">Senior Web developer</h6>
        <!-- Text -->
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
          recusandae. Facere modi sunt, quod quibusdam.
        </p>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
        <!-- Google + -->
        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>

      </div>

    </div>
    <!-- Card Regular -->
  </div>
</div>
  <div class="row my-4">

    <div class="col-md-4">

      <!-- Card Wider -->
      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://images.pexels.com/photos/1181677/pexels-photo-1181677.jpeg?cs=srgb&dl=pexels-christina-morillo-1181677.jpg&fm=jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">

          <!-- Title -->
          <h4 class="card-title"><strong>Ainur Bedelkhan</strong></h4>
          <!-- Subtitle -->
          <h5 class="blue-text pb-2"><strong>Web designer</strong></h5>
          <!-- Text -->
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. </p>

          <!-- Linkedin -->
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

        </div>

      </div>
      <!-- Card Wider -->
    </div>
    <div class="col-md-4">

      <!-- Card Wider -->
      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">

          <!-- Title -->
          <h4 class="card-title"><strong>Aidos Aitkurman</strong></h4>
          <!-- Subtitle -->
          <h5 class="blue-text pb-2"><strong>Middle web developer</strong></h5>
          <!-- Text -->
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. </p>

          <!-- Linkedin -->
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

        </div>

      </div>
      <!-- Card Wider -->
    </div>
    <div class="col-md-4">

      <!-- Card Wider -->
      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://images.pexels.com/photos/879109/pexels-photo-879109.jpeg?cs=srgb&dl=pexels-hitesh-choudhary-879109.jpg&fm=jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">

          <!-- Title -->
          <h4 class="card-title"><strong>Aibek Esirkep</strong></h4>
          <!-- Subtitle -->
          <h5 class="blue-text pb-2"><strong>Middle Web developer</strong></h5>
          <!-- Text -->
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. </p>

          <!-- Linkedin -->
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

        </div>

      </div>
      <!-- Card Wider -->
    </div>
  </div>
</div>
